# Node modules
node_modules/
package-lock.json
yarn.lock

# Build
public/build/
dist/

# Vite
.vite/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env.local
.env.*.local
