{% extends 'base.html.twig' %}

{% block title %}Hagakure - Encyclopédie interactive du Japon féodal{% endblock %}

{% block body %}
<div id="root"></div>
{% endblock %}

{% block javascripts %}
{% endblock %}
